<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="/assets/images/avatar_2x.png"
      class="profile-img-card"
      alt="avatar"
    />

    <form
      *ngIf="!isSuccessful"
      name="form"
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()"
      #ngForm="ngForm"
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          formControlName="username"
        />
        <div class="alert-danger">
          <div
            *ngIf="registrationForm.get('username')?.hasError('required') && registrationForm.get('username')?.touched">
            Username is required
          </div>
          <div
            *ngIf="registrationForm.get('username')?.hasError('minlength') && registrationForm.get('username')?.touched">
            Username must be at least 3 characters
          </div>
          <div
            *ngIf="registrationForm.get('username')?.hasError('maxlength') && registrationForm.get('username')?.touched">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          formControlName="email"
        />
        <div class="alert-danger">
          <div *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched">
            Email is required
          </div>
          <div *ngIf="registrationForm.get('email')?.hasError('maxlength') && registrationForm.get('email')?.touched">
            Email must be at most 50 characters
          </div>
          <div *ngIf="registrationForm.get('email')?.hasError('email') && registrationForm.get('email')?.touched">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          formControlName="password"
        >
        <div class="alert-danger">
          <div
            *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched">
            Password is required
          </div>
          <div
            *ngIf="registrationForm.get('password')?.hasError('minlength') && registrationForm.get('password')?.touched">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <select
          type="text"
          class="form-control"
          name="role"
          id="role"
          formControlName="role"
        >
          <option value="ROLE_PARENT">PARENT</option>
          <option value="ROLE_SCHOOL">SCHOOL</option>
        </select>
        <div class="alert-danger">
          <div *ngIf="registrationForm.get('role')?.hasError('required') && registrationForm.get('role')?.touched">
            Role is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="registrationForm.invalid" class="btn btn-primary col-12">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="ngForm.submitted && isSignUpFailed">
        Signup failed!<br>{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>

  </div>
</div>
