<div>
  <h2>Upcoming day camps</h2>
  <div class="container" *ngIf="futureDayCamps.length">
    <app-day-camp *ngFor="let futureDayCamp of futureDayCamps" [dayCamp]="futureDayCamp"></app-day-camp>
  </div>
  <div class="container" *ngIf="!futureDayCamps.length">
    <p>Currently, we don't have any upcoming day camps.</p>
  </div>

  <h2>Ongoing day camps</h2>
  <div class="container" *ngIf="ongoingDayCamps.length">
    <app-day-camp *ngFor="let ongoingDayCamp of ongoingDayCamps" [dayCamp]="ongoingDayCamp"></app-day-camp>
  </div>
  <div class="container"  *ngIf="!ongoingDayCamps.length">
    <p>Currently, we don't have any ongoing day camps.</p>
  </div>

  <h2>Completed day camps</h2>
  <div class="container" *ngIf="pastDayCamps.length">
    <app-day-camp *ngFor="let pastDayCamp of pastDayCamps" [dayCamp]="pastDayCamp"></app-day-camp>
  </div>
  <div class="container" *ngIf="!pastDayCamps.length">
    <p>We don't have any completed day camps yet.</p>
  </div>
</div>
