<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Day Camps</a>
    <ul class="navbar-nav me-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="/home">Home</a>
      </li>
      <li ngbDropdown class="nav-item dropdown" *ngIf="showParentBoard">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">For parents</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a ngbDropdownItem class="dropdown-item" href="/parent/my-children">My children</a>
          <a ngbDropdownItem class="dropdown-item" href="/parent/enroll-child">Enroll child</a>
          <a ngbDropdownItem class="dropdown-item" href="/parent/enrollments">Enrollments</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="showSchoolBoard">
        <a href="/school" class="nav-link" routerLink="/school">For schools</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="/register">Sign up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="/profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
