<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Day Camps</a>
    <ul class="navbar-nav me-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="/home">Home</a>
      </li>
      <li ngbDropdown class="nav-item dropdown" *ngIf="showParentBoard">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownParentMenuButton"
           aria-haspopup="true" aria-expanded="false">For parents</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownParentMenuButton">
          <a ngbDropdownItem class="dropdown-item" href="/parent/my-children">My children</a>
          <a ngbDropdownItem class="dropdown-item" href="/parent/enroll-child">Enroll child</a>
          <a ngbDropdownItem class="dropdown-item" href="/parent/enrollments">Enrollments</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown" *ngIf="showSchoolBoard">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" type="button"
           id="dropdownSchoolMenuButton" aria-haspopup="true" aria-expanded="false">For schools</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownSchoolMenuButton">
          <a ngbDropdownItem class="dropdown-item" href="/school/my-day-camps">My day camps</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="/register">Sign up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="/login">Log in</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="/profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Log out</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
